@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes ellipseRotate {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    100% {
        -webkit-transform: rotate(-405deg);
        transform: rotate(-405deg);
    }
}

.border-secondary {
    border-color: #494949;
}

.border-light {
    border-color: #eeeeee;
}

.bg-primary {
    background-color: #202330;
}

.bg-yellow {
    background-color: #ffeb00;
}

.text-secondary {
    color: #494949;
}

.text-light {
    color: #eeeeee;
}

.text-xxs {
    font-size: 15px;
}

.text-md {
    font-size: 40px;
}

.text-lg {
    font-size: 90px;
}

.font-300 {
    font-weight: 300;
}

.font-dancing-scipt {
    font-family: 'Dancing Script', cursive;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pull-center {
    top: 40%;
    left: 50%;
}

body {
    width: 100%;
    height: 100vh;
    background: url('PB050005.JPG') no-repeat;
    background-position: 90%;
    background-position-y: 85%;
    background-size: 40%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
}

.l-container-sm {
    position: absolute;
    top: 65%;
    right: 0;
    transform: translateY(100%);
    padding: 50px 80px 30px 30px;
}

.l-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.l-header-left {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-header-right {
    position: absolute;
    top: 12%;
    right: 50px;
    transform: translateY(-50%);
}

.title {
    font-size: 110px;
}

.social-icon {
    display: inline-block;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 50%;
}

#logo {
    position: absolute;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 3.5s;
    /* animation logo */
}

#logo path:nth-child(1) {
    stroke-dasharray: 297;
    stroke-dashoffset: 297;
    animation: line-anim 2s ease forwards 0.1s;
}

#logo path:nth-child(2) {
    stroke-dasharray: 239;
    stroke-dashoffset: 239;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3) {
    stroke-dasharray: 422;
    stroke-dashoffset: 422;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4) {
    stroke-dasharray: 515;
    stroke-dashoffset: 515;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5) {
    stroke-dasharray: 506;
    stroke-dashoffset: 506;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6) {
    stroke-dasharray: 449;
    stroke-dashoffset: 449;
    animation: line-anim 2s ease forwards 1.5s;
}

#logo path:nth-child(7) {
    stroke-dasharray: 246;
    stroke-dashoffset: 246;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8) {
    stroke-dasharray: 449;
    stroke-dashoffset: 449;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9) {
    stroke-dasharray: 334;
    stroke-dashoffset: 334;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(10) {
    stroke-dasharray: 515;
    stroke-dashoffset: 515;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(11) {
    stroke-dasharray: 467;
    stroke-dashoffset: 467;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(12) {
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    animation: line-anim 2s ease forwards 2.1s;
}

.contact-section {
    margin: 20% 0 5% 30%;
    width: 50vw;
}

.contact-section-list {
    margin: 20px 10px 0 20%;
    border-bottom: 2px solid rgba(185, 181, 181, 0.5);
    padding-bottom: 50px;
}

.contact-section-list li {
    margin: 10px;
    font-weight: 700;
    font-size: 25px;
}

.contact-section-address {
    display: flex;
    flex-direction: row;
    width: 550px;
    margin: 10px 0 0 180px;
    font-size: 25px;
}

.contact-section-address > div {
    padding: 10px;
    margin: 10px;
    font-weight: 700;
}
.contact-section-address > div > span {
    font-size: 15px;
}

.nav {
    width: 200px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 576px) {
    body {
        background-image: none;
    }
    #logo {
        width: 250px;
    }
    .l-header-right {
        margin-top: 50px;
    }
    .title {
        font-size: 40px;
    }
    .l-container-sm {
        top: 85%;
        padding: 10px;
    }
    .l-header-left {
        top: 50%;
        width: 50px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .contact-section {
        width: 300px;
        margin: 10px;
        font-size: 20px;
    }
    .contact-section-list li {
        font-size: 13px;
    }
    .contact-section-address {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        width: 200px;
        margin: 50px;
    }

    .contact-section-address > div > span {
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 1230px) {
    body {
        background-image: none;
    }
    #logo {
        width: 500px;
    }
    .title {
        font-size: 75px;
    }
    .l-container-sm {
        top: 75%;
        padding: 10px;
    }
    .contact-section {
        width: 90vw;
    }
    .contact-section-address {
        margin-left: 300px;
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
    }
    .contact-section-address > div > span {
        font-size: 15px;
    }
}

.is-text-primary-hover:hover {
    color: #202330;
}

.is-social-icon-hover:hover {
    color: #eeeeee;
}
