@import './../abstracts/variables';

@media (max-width: $breakpoint-mobile) {
    body {
        background-image: none;
    }
    #logo {
        width: 250px;
    }
    .title {
        font-size: $text-md;
    }
    .l-container-sm {
        top: 90%;
        padding: $p10;
    }
    .l-header-left {
        width: 50px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .contact-section {
        width: 300px;
        margin: $m08;
    }
    .contact-section-list li {
        font-size: $text-sm;
    }
    .contact-section-address {
        margin-left: $m50;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
}
