//  layout properties

.l-container-sm {
    position: absolute;
    top: 65%;
    right: 0;
    transform: translateY(100%);
    padding: $p50 $p80 $p30 $p30;
}
.l-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
