@mixin animationFill($stroke-dasharray, $stroke-dashoffset, $animation) {
    stroke-dasharray: $stroke-dasharray;
    stroke-dashoffset: $stroke-dashoffset;
    animation: $animation;
}
@mixin displayFlex($justify-content, $align-content) {
    display: flex;
    justify-content: $justify-content;
    align-content: $align-content;
}
