@import './variables';

// font size properties
$font-sizes: (
    text-xxs: $text-xxs,
    text-sm: $text-sm,
    text-md: $text-md,
    text-lg: $text-lg,
);

@each $name, $size in $font-sizes {
    .#{$name} {
        font-size: $size;
    }
}

// font weight properties

.font-300 {
    font-weight: 300;
}
.font-dancing-scipt {
    font-family: 'Dancing Script', cursive;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.pull-center {
    top: 40%;
    left: 50%;
}
