//  breakpoint variables values

$breakpoint-mobile: 576px;
$breakpoint-tablet: 830px;
$breakpoint-desktop: 1050px;
$breakpoint-lg-devices: 1200px;

// colors variables - background color

$bg-primary: rgb(32, 35, 48);
$bg-light: rgb(238, 238, 238);
$bg-info: rgb(30, 30, 31);
$bg-yellow: rgb(255, 235, 0);

// colors variables - border color
$border-light: rgb(238, 238, 238);
$border-secondary: rgb(73, 73, 73);

// colors variables - text color

$text-primary: rgb(32, 35, 48);
$text-secondary: rgb(73, 73, 73);
$text-light: rgb(238, 238, 238);
$text-info: rgb(30, 30, 31);

//  font size variables

$text-xxs: 15px;
$text-xs: 17px;
$text-sm: 20px;
$text-md: 40px;
$text-lg: 90px;
$text-xl: 110px;

//  margin variables
$m0: 0;
$m08: 8px;
$m20: 20px;
$m50: 50px;
$m80: 80px;
$m100: 100px;

//  padding variables
$p0: 0;
$p10: 10px;
$p30: 30px;
$p50: 50px;
$p80: 80px;
